.wrapper {
  margin-top: 6rem;
}

.title {
  font-size: 4.2rem;
  margin-bottom: 3.2rem;
}

.image {
  max-width: 20rem;

  img {
    width: 100%;
    height: auto;
  }
}

.btn {
  margin-top: 2.4rem;
}
