.wrapper {
  margin-top: 6rem;
}

.title {
  font-size: 4.2rem;
  margin-bottom: 3.2rem;
}

.image {
  position: relative;
  aspect-ratio: 3 / 2;
  max-width: 20rem;
}

.btn {
  margin-top: 2.4rem;
}
